@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FF0458;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  opacity: 1;
  background-image:  linear-gradient(#FF0458 1.8px, transparent 1.8px), linear-gradient(to right, #FF0458 1.8px, #FFEAF1 1.8px);
  background-size: 100px 75px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
